html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
  background-color: rgb(246, 248, 252);
  font-family: roboto;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #1f2937;
}

.logoAndNavWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1050px;
}

.logo a {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

.navigations a {
  margin-left: 20px;
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 300;
  border-bottom: ;
}

.navigations a:hover {
  border-bottom: #f9faf8 solid 2px;
  padding-bottom: 5px;
}

header {
  background-color: #1f2937;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headerwrap {
  width: 1050px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

.textandbutton {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* background-color: aqua; */
  /* align-items: center; */
  justify-content: center;
  color: #f9faf8;
}

h1 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: 900;
  line-height: 50px;
  padding: 10px 0px;
  margin: 0px;
}

.textandbutton p {
  line-height: 22px;
  padding: 0px;
  margin: 10px 0px;
  font-size: 18px;
  font-weight: 400;
  padding-right: 70px;
}

.button {
  width: 120px;
  height: 40px;
  margin: 10px 0px;
  border-radius: 5px;
  background-color: #3882f6;
  font-size: 16px;
  color: #f9faf8;
  border-color: none;
  border-width: 0px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgcontainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: rgb(180, 180, 180);
  height: 250px;
  align-items: center;
  justify-content: center;
}

.section2 {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2wrap {
  width: 1050px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 70px;
}

.illusandsubtext {
  display: flex;
  width: 1050px;
  flex-direction: row;
  /* gap: 30px; */
  /* background-color: aquamarine; */
  justify-content: space-around;
}

.eachillus {
  display: flex;
  flex-direction: column;
  width: 160px;
  align-items: center;
  justify-content: center;
  /* background-color: chartreuse; */
}

.illustration {
  width: 150px;
  height: 150px;
  display: flex;
  border-color: #3882f6;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 0px;
  /* background-color: brown; */
}

.illustext p {
  display: flex;
  text-align: center;
  font-weight: 500;
  color: #5c5c5c;
  margin-top: 10px;
}

.quotewrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 450px;
  background-color: #e5e7eb;
  color: #1f2937;
}

.quote p {
  width: 800px;
  margin: 0px;
  font-size: 36px;
  line-height: 45px;
  font-style: oblique;
  font-weight: 300;
}

span {
  width: 800px;
  display: flex;
  justify-content: right;
  font-weight: 900;
  font-size: 25px;
  margin-top: 20px;
}

.signupsection {
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupwrap {
  height: 140px;
  width: 1050px;
  background-color: #3882f6;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.signuptext {
  margin-left: 100px;
}

.signuptext h3,
.signuptext p {
  line-height: 5px;
  color: #f9faf8;
}

.signupbutton {
  display: flex;
  margin-right: 100px;
}

.signupbutton a {
  width: 130px;
  height: 30px;
  border-color: #f9faf8;
  border-style: solid;
  border-radius: 5px;
  color: #f9faf8;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 80px;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 300;
}
